<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Principal | Dashboard</title>
  <link rel="icon" type="image/ico" href="/img/favicon.ico" />

  <!-- CSS JS Fonts Icons-->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/css/custom.css" />
  <link rel="stylesheet" href="/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/css/skins/_all-skins.min.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
  />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/fastclick.js"></script>
  <script src="/js/adminlte.min.js"></script>
</head>
